blinker==1.9.0
bottle==0.13.4
click==8.1.8
Flask==3.1.2
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
proxy-tools==0.1.0
pyobjc-core==12.0
pyobjc-framework-Cocoa==12.0
pyobjc-framework-Quartz==12.0
pyobjc-framework-Security==12.0
pyobjc-framework-UniformTypeIdentifiers==12.0
pyobjc-framework-WebKit==12.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6_sip==13.10.2
pywebview==6.1
typing_extensions==4.15.0
Werkzeug==3.1.5
zipp==3.23.0
